name: Release Drafter

on:
  push:
    branches:
      - main
      - 2.x

jobs:
  update_release_draft:
    if: github.repository_owner == 'kurkle'
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
